JENKINS_HTTP_PORT={{ vps_jenkins_http_port }}
JENKINS_AGENT_PORT={{ vps_jenkins_agent_port }}
JENKINS_BIND={{ vps_jenkins_bind_address }}
CONTROLLER_REPO_URL={{ controller_repo_url }}
{% if vps_jenkins_external_url | length > 0 %}
JENKINS_URL={{ vps_jenkins_external_url }}
{% else %}
JENKINS_URL=http://{{ vps_jenkins_bind_address }}:{{ vps_jenkins_http_port }}/
{% endif %}
